.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  form {
    width: 360px;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1 {
      color: gray;
      margin-bottom: 20px;
    }

    label {
      color: gray;
      font-size: 18px;
    }

    input,
    textarea {
      padding: 20px;
      border: 1px solid rgb(216, 214, 214);
    }

    button {
      border: none;
      padding: 20px;
      font-weight: 500;
      font-size: 18px;
      cursor: pointer;
    }

    .errorSpan {
      color: red;
      font-size: 15px;
    }
    a {
        font-size: 14px;
        color: gray;
        border-bottom: 1px solid gray;
        width: max-content;
      }
  }
}
