@import "../../../responsive.scss";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;

  a {
    transition: all 0.4s ease;
    @include sm {
      display: none;
    }

    &:hover {
      scale: 1.05;
    }
  }

  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 50px;

    .logo {
      font-weight: bold;
      font-size: 30px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  .right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    a {
      padding: 12px 24px;
    }

    .user {
      display: flex;
      align-items: center;
      font-weight: bold;
      gap: 15px;

      .logoutButton {
        padding: 12px 0 24px 12px;
        font-size: larger;
        cursor: pointer;
        border: none;
        position: relative;
      }
    }
  }
}
