@import "../../../responsive.scss";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 50px;

    .logo {
      font-weight: bold;
      font-size: 30px;
      display: flex;
      align-items: center;
      gap: 10px;

      &:hover {
        cursor: pointer;
      }
    }
  }
  .right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    .user {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      gap: 10px;
      cursor: pointer;

      img {
        height: 25px;
        width: 25px;
        object-fit: cover;
      }

      .logoutButton {
        font-size: larger;
        border: none;
        position: relative;
        color: #f23327;
      }
    }
  }
}
